*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    color: #446368;
    margin-left: 7%;
}

fieldset{
    border: 0;
}

body{
    background-color: #2e3130;
    font-family: sans-serif;
    font-size: 1em;
    color:#ffffff;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 7px;
}

.campo{
    margin-bottom: 2em;
}

.botao{
    font-size: 1.2em;
    background: #b17146;
    border: 0;
    margin-bottom: 1em;
    padding: 0.2em 0.6em;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
